<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rodrigo Solórzano</title>
  <link rel="stylesheet" href="/static/style.css">

</head>

<body>
  <h1>Rodrigo Solórzano</h1>

  <h2>PORTFOLIO</h2>

  <!-- Botones de filtro -->
  <div id="myBtnContainer">
    <button class="btn active" onclick="filterSelection('all')"> Todo </button>
    <button class="btn" onclick="filterSelection('voluntariado')"> Voluntariado </button>
    <button class="btn" onclick="filterSelection('trabajo')"> Trabajo </button>
    <button class="btn" onclick="filterSelection('Contactos')"> Contactos</button>
  </div>

  <!-- Contenido -->
  <div class="row">

    <!-- Sección de Voluntariado -->
    <div class="column voluntariado">
      <div class="content">
        <h4>Voluntariado</h4>
      </div>
    </div>
    <div class="column voluntariado">
      <div class="content">
        <img src="/static/images/fundeso.jpg" alt="FUNDESO" style="width:100%">
        <h4>FUNDESO</h4>
        <p>octubre del 2020- Actualidad</p>
      </div>
    </div>
    <div class="column voluntariado">
      <div class="content">
        <img src="/static/images/AZO.png" alt="AZO" style="width:100%">
        <h4>Azul Originario (AZO)</h4>
        <p>octubre 2020 - enero 2021</p>
      </div>
    </div>
    <div class="column voluntariado">
      <div class="content">
        <img src="/static/images/future.jpg" alt="Future ESEN" style="width:100%">
        <h4>Future ESEN</h4>
        <p>2020 - Actualidad</p>
      </div>
    </div>

    <!-- Sección de Experiencia Laboral -->
    <div class="column trabajo">
      <div class="content">
        <h4>Experiencia Laboral</h4>
      </div>
    </div>
    <div class="column trabajo">
      <div class="content">
        <img src="/static/images/pepes.jpg" alt="Pepe's Resortes" style="width:100%">
        <h4>Mecanico auxiliar</h4>
        <p>2018 - 2019</p>
      </div>
    </div>
    <div class="column trabajo">
      <div class="content">
        <img src="/static/images/craftmaster.png" alt="Craftmaster compañía constructura" style="width:100%">
        <h4>Craftmaster</h4>
        <p>2019 - 2020</p>
      </div>
    </div>
    <div class="column trabajo">
      <div class="content">
        <img src="/static/images/monteC.jpg" alt="restaurante MonteCristo" style="width:100%">
        <h4>Auxiliar Contable
        </h4>
        <p>Septiembre - octubre 2020</p>
      </div>
    </div>

    <!-- Sección de Contactos -->
    <div class="column contactos">
      <div class="content">
        <h4>Contactos</h4>
      </div>
    </div>
    <div class="column contactos">
      <div class="content">
        <img src="/static/images/Sven.jfif" alt="Sven" style="width:100%">
        <h4>Sven</h4>
        <p>sguzman@esen.edu.sv</p>
      </div>
    </div>
    <div class="column contactos">
      <div class="content">
        <img src="/static/images/Chema.jfif" alt="Chema" style="width:100%">
        <h4>Chema</h4>
        <p>jvelasquez@esen.edu.sv</p>
      </div>
    </div>
    <div class="column contactos">
      <div class="content">
        <img src="/static/images/Balbino.jfif" alt="Balbino" style="width:100%">
        <h4>Balbino</h4>
        <p>baylagas@esen.edusv</p>
      </div>
    </div>
    <!-- END GRID -->
  </div>

  <!-- Javascript -->
  <script src="/static/script.js"></script>

</html>